.title {
	color: 	#B80000;
}

.time {
	font-weight: bold;
}

.btn {
	place-self: center;
	height: 50px;
	width: 250px;
	border-radius: 15px;
}

section {
	display: grid;
	grid-template-rows: 25% 100px 100px 50px 100px;
	padding: 10px;
}